@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v35/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0C4n.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v35/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsgH1y4n.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v35/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsg-1y4n.ttf) format('truetype');
}
body {
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
  background-color: #FFFFFF;
}
header {
  width: 100%;
  height: 70px;
}
header .content-header {
  width: 100%;
  height: 100%;
  display: flex;
}
header .content-header .logo {
  width: 50%;
}
header .content-header .logo img {
  width: 85%;
  height: 50%;
  margin: 15px;
}
header .content-header .options {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
header .content-header .options .btn-header {
  width: 55%;
  height: 50%;
  margin: 15px;
  background-color: transparent;
  border-radius: 20px;
  border: 1px solid #C375A5;
  box-shadow: 1px 1px 2px #FFE4FC inset, 1px 1px 1px #FFE8FE;
  color: #DB7BBA;
  font-family: 'Open Sans', sans-serif, sans-serif;
  font-weight: 400;
  transition: all 300ms;
}
header .content-header .options .btn-header:hover {
  cursor: pointer;
  color: #EBCBE1;
}
.container {
  width: auto;
  height: auto;
  padding: 5px;
}
.container .info-1 {
  width: 100%;
  margin-top: 120px;
}
.container .info-1 h1 {
  padding: 2px;
  color: #04232D;
  text-align: center;
  font-size: 25px;
  font-family: 'Poppins', sans-serif, sans-serif;
  font-weight: 700;
}
.container .info-1 p {
  padding: 5px;
  text-align: center;
  font-size: 20px;
  color: #04232D;
  font-family: 'Open Sans', sans-serif, sans-serif;
  font-weight: 600;
  margin-bottom: 50px;
}
.container .info-1 .btn {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .info-1 .btn .btn-info {
  width: 80%;
  height: 45px;
  background-color: #FE52C0;
  color: #FFDEFF;
  border: 1px solid #DE64B1;
  border-radius: 25px;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif, sans-serif;
  font-weight: 700;
  margin-bottom: 60px;
}
.container .info-1 .btn .btn-info:hover {
  background-color: #FF8ED6;
  cursor: pointer;
}
.container .img-date {
  width: 100%;
  height: 250px;
  background: no-repeat 50% 50% / 95% url('/images/screen-mockups.svg');
  margin-top: 60px;
  margin-bottom: 60px;
}
.container .communities {
  width: 100%;
  height: auto;
}
.container .communities .img-comunities {
  width: 100%;
  height: 50px;
  background: no-repeat 25% 0% / 20% url('/images/icon-communities.svg');
  margin-bottom: auto;
}
.container .communities h2 {
  width: 100%;
  height: 60px;
  margin-top: auto;
  text-align: center;
  margin-bottom: auto;
  color: #04232D;
  font-family: 'Poppins', sans-serif, sans-serif;
  font-weight: 700;
  font-size: 50px;
}
.container .communities .communities-info {
  width: 100%;
  height: 50px;
  margin-top: 0px;
  text-align: center;
  font-family: 'Open Sans', sans-serif, sans-serif;
  font-weight: 400;
  color: #ACADAF;
  font-size: 18px;
}
.container .messages {
  width: 100%;
  height: auto;
  margin-bottom: 100px;
}
.container .messages .img-messages {
  width: 100%;
  height: 50px;
  background: no-repeat 25% 0% / 20% url('/images/icon-messages.svg');
  margin-bottom: auto;
}
.container .messages h2 {
  width: 100%;
  height: 60px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: auto;
  color: #04232D;
  font-family: 'Poppins', sans-serif, sans-serif;
  font-weight: 700;
  font-size: 50px;
}
.container .messages .messages-info {
  width: 100%;
  height: 50px;
  margin-top: 5px;
  text-align: center;
  font-family: 'Open Sans', sans-serif, sans-serif;
  font-weight: 400;
  color: #ACADAF;
  font-size: 18px;
}
.container .seccion-grow {
  width: 100%;
  height: auto;
}
.container .seccion-grow .img-top {
  width: 100%;
  height: 50px;
  background: no-repeat 0% 0% / 100% 100% url('/images/bg-section-top-mobile-1.svg');
}
.container .seccion-grow .grow-info {
  width: 100%;
  height: 550px;
  background-color: #F6FBFF;
}
.container .seccion-grow .grow-info .img-grop {
  width: 100%;
  height: 300px;
  background: no-repeat 50% 50% / 60% url('/images/illustration-grow-together.svg');
}
.container .seccion-grow .grow-info h3 {
  font-family: 'Poppins', sans-serif, sans-serif;
  font-weight: 700;
  color: #04232D;
  text-align: center;
  margin-bottom: 10px;
  font-size: 20px;
}
.container .seccion-grow .grow-info .info-grow {
  padding: 10px;
  margin-top: auto;
  color: #04232D;
  font-family: 'Open Sans', sans-serif, sans-serif;
  font-weight: 600;
  text-align: center;
  font-size: 18px;
}
.container .seccion-grow .img-bottom {
  width: 100%;
  height: 50px;
  background: no-repeat 0% 0% / 100% 100% url('/images/bg-section-bottom-mobile-1.svg');
}
.container .seccion-flowing {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 100px;
}
.container .seccion-flowing .img-flowing {
  width: 100%;
  height: 300px;
  background: no-repeat 50% 50% / 60% url('/images/illustration-flowing-conversation.svg');
}
.container .seccion-flowing .info-flowing {
  width: 100%;
}
.container .seccion-flowing .info-flowing h3 {
  font-family: 'Poppins', sans-serif, sans-serif;
  font-weight: 700;
  color: #04232D;
  text-align: center;
  margin-bottom: 10px;
  font-size: 20px;
}
.container .seccion-flowing .info-flowing .flowing {
  padding: 10px;
  margin-top: auto;
  color: #04232D;
  font-family: 'Open Sans', sans-serif, sans-serif;
  font-weight: 600;
  text-align: center;
  font-size: 18px;
}
.container .seccion-users {
  width: 100%;
  margin-bottom: 50px;
}
.container .seccion-users .img-top-user {
  width: 100%;
  height: 50px;
  background: no-repeat 0% 0%/100% 100% url('/images/bg-section-top-mobile-2.svg');
}
.container .seccion-users .info-users {
  width: 100%;
  height: 550px;
  margin-bottom: 0px;
  background-color: #F6FBFF;
}
.container .seccion-users .info-users .img-users {
  width: 100%;
  height: 300px;
  background: no-repeat 50% 50% / 60% url('/images/illustration-your-users.svg');
}
.container .seccion-users .info-users .text-users {
  margin-bottom: 15px;
}
.container .seccion-users .info-users .text-users h3 {
  font-family: 'Poppins', sans-serif, sans-serif;
  font-weight: 700;
  color: #04232D;
  text-align: center;
  margin-bottom: 10px;
  font-size: 20px;
}
.container .seccion-users .info-users .text-users .users {
  padding: 10px;
  margin-top: auto;
  color: #04232D;
  font-family: 'Open Sans', sans-serif, sans-serif;
  font-weight: 600;
  text-align: center;
  font-size: 18px;
}
.container .seccion-users .img-bottom-user {
  width: 100%;
  height: 50px;
  margin-top: 0px;
  background: no-repeat 0% 0% / 100% 100% url('/images/bg-section-bottom-mobile-2.svg');
}
.container .ready {
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.container .ready h3 {
  font-family: 'Poppins', sans-serif, sans-serif;
  font-weight: 700;
  color: #04232D;
  text-align: center;
  margin-bottom: 20px;
  font-size: 25px;
}
.container .ready .btn-started {
  width: 70%;
  height: 50px;
  margin-bottom: 100px;
  background-color: #FB54BE;
  border-radius: 30px;
  color: #FFE8FF;
  font-family: 'Open Sans', sans-serif, sans-serif;
  font-weight: 400;
  border: 1px solid #D671B1;
}
.container .ready .btn-started:hover {
  background-color: #FF8ED6;
  cursor: pointer;
}
footer {
  width: 100%;
  height: auto;
}
footer .footer-top {
  width: 100%;
  height: 50px;
  background: no-repeat 0% 0%/100% 105% url('/images/bg-footer-top-mobile.svg');
}
footer .footer-container {
  width: 100%;
  height: 900px;
  background-color: #00252E;
}
footer .footer-container .info-footer {
  width: 100%;
  padding-top: 50px;
}
footer .footer-container .info-footer .subscribe {
  width: 100%;
  margin-bottom: 50px;
}
footer .footer-container .info-footer .subscribe h4 {
  margin: 0px;
  padding: 10px;
  color: white;
  font-family: 'Poppins', sans-serif, sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
}
footer .footer-container .info-footer .subscribe p {
  padding: 10px;
  text-align: left;
  font-size: 18px;
  color: white;
  font-family: 'Open Sans', sans-serif, sans-serif;
  font-weight: 600;
}
footer .footer-container .info-footer .subscribe .formulario {
  width: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
footer .footer-container .info-footer .subscribe .formulario .email {
  width: 95%;
  height: 50px;
  border-radius: 10px;
  font-size: 30px;
  border: 1px solid #00141C;
}
footer .footer-container .info-footer .subscribe .formulario .btn-subscribe {
  width: 40%;
  height: 50px;
  margin-top: 15px;
  border-radius: 10px;
  background-color: #FE52C0;
  color: #FFE8FB;
  font-family: 'Open Sans', sans-serif, sans-serif;
  font-weight: 700;
  font-size: 18px;
  border: 1px solid #23072E;
}
footer .footer-container .info-footer .subscribe .formulario .btn-subscribe:hover {
  background-color: #FF8ED6;
  cursor: pointer;
}
footer .footer-container .info-footer .huddle {
  width: 100%;
  height: auto;
}
footer .footer-container .info-footer .huddle .logo-huddle {
  width: 100%;
  height: 70px;
}
footer .footer-container .info-footer .huddle .logo-huddle img {
  margin-left: 15px;
}
footer .footer-container .info-footer .huddle .text-lorem {
  padding: 10px;
  color: white;
  font-family: 'Open Sans', sans-serif, sans-serif;
  font-weight: 700;
  font-size: 18px;
}
footer .footer-container .info-footer .huddle .phone {
  display: flex;
}
footer .footer-container .info-footer .huddle .phone .icon-phone {
  width: 25%;
  background: no-repeat 50% / 25% url('/images/icon-phone.svg');
}
footer .footer-container .info-footer .huddle .phone p {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
}
footer .footer-container .info-footer .huddle .correo {
  display: flex;
}
footer .footer-container .info-footer .huddle .correo .icon-correo {
  width: 25%;
  background: no-repeat 50% / 25% url('/images/icon-email.svg');
}
footer .footer-container .info-footer .huddle .correo p {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
}
footer .footer-container .r-sociales {
  height: 40px;
  display: flex;
  padding-left: 15px;
}
footer .footer-container .r-sociales .icon-facebook {
  width: 50px;
  background: no-repeat 50%/60% url('/images/icon-facebook.svg');
  filter: invert(1);
}
footer .footer-container .r-sociales .icon-facebook:hover {
  filter: invert(0.4) sepia(1) hue-rotate(150deg) saturate(1000%);
  cursor: pointer;
}
footer .footer-container .r-sociales .icon-instagram {
  width: 50px;
  background: no-repeat 50%/60% url('/images/icon-instagram.svg');
  filter: invert(1);
}
footer .footer-container .r-sociales .icon-instagram:hover {
  filter: invert(0.4) sepia(1) hue-rotate(150deg) saturate(1000%);
  cursor: pointer;
}
footer .footer-container .r-sociales .icon-twiter {
  width: 50px;
  background: no-repeat 50%/60% url('/images/icon-twitter.svg');
  filter: invert(1);
}
footer .footer-container .r-sociales .icon-twiter:hover {
  filter: invert(0.4) sepia(1) hue-rotate(150deg) saturate(1000%);
  cursor: pointer;
}
@media screen and (min-width: 360px) {
  .container .img-date {
    background-size: 82%;
  }
  .container .communities .img-comunities {
    height: 60px;
    background-size: 15%;
  }
  .container .messages .img-messages {
    height: 60px;
    background-size: 15%;
  }
  footer .footer-container {
    height: 850px;
  }
}
@media screen and (min-width: 480px) {
  .container .img-date {
    height: 380px;
    background-size: 70%;
  }
  .container .communities .img-comunities {
    height: 70px;
    background-size: 10%;
  }
  .container .messages .img-messages {
    height: 70px;
    background-size: 10%;
  }
  .container .seccion-grow .grow-info .img-grop {
    background-size: 50%;
  }
  .container .seccion-flowing .img-flowing {
    background-size: 50%;
  }
  .container .seccion-users .info-users .img-users {
    background-size: 50%;
  }
  footer .footer-container {
    height: 820px;
  }
  footer .footer-container .info-footer .huddle .phone .icon-phone {
    width: 18%;
    background-size: 20%;
  }
  footer .footer-container .info-footer .huddle .correo .icon-correo {
    width: 18%;
    background-size: 20%;
  }
  footer .footer-container .r-sociales .icon-facebook {
    background-size: 50%;
  }
  footer .footer-container .r-sociales .icon-instagram {
    background-size: 50%;
  }
  footer .footer-container .r-sociales .icon-twiter {
    background-size: 50%;
  }
}
@media screen and (min-width: 760px) {
  header .content-header .logo img {
    width: 65%;
  }
  header .content-header .options .btn-header {
    width: 45%;
  }
  .container .info-1 {
    margin-top: 80px;
  }
  .container .info-1 .btn .btn-info {
    width: 50%;
    height: 50px;
  }
  .container .img-date {
    height: 400px;
    background-size: 60%;
  }
  .container .communities .img-comunities {
    height: 85px;
    background-position: 50%;
  }
  .container .messages .img-messages {
    height: 85px;
    background-position: 50%;
  }
  .container .seccion-grow .grow-info {
    height: 700px;
  }
  .container .seccion-grow .grow-info .img-grop {
    height: 500px;
  }
  .container .seccion-grow .grow-info .info-grow {
    padding-left: 100px;
    padding-right: 100px;
  }
  .container .seccion-flowing {
    height: 700px;
  }
  .container .seccion-flowing .img-flowing {
    height: 500px;
  }
  .container .seccion-flowing .info-flowing .flowing {
    padding-left: 100px;
    padding-right: 100px;
  }
  .container .seccion-users .info-users {
    height: 700px;
  }
  .container .seccion-users .info-users .img-users {
    height: 500px;
  }
  .container .seccion-users .info-users .text-users .users {
    padding-left: 100px;
    padding-right: 100px;
  }
  .container .ready .btn-started {
    width: 55%;
  }
  footer .footer-container {
    height: 760px;
  }
  footer .footer-container .info-footer .huddle .phone .icon-phone {
    width: 15%;
    background-position: 25%;
  }
  footer .footer-container .info-footer .huddle .correo .icon-correo {
    width: 15%;
    background-position: 25%;
  }
}
